.env
certs/*
!certs/.gitkeep
data/*
!data/.gitkeep
secrets/*
!secrets/.gitkeep
backups/*
!backups/.gitkeep
charts/*
!charts/.gitkeep
config/forgejo/*
!config/forgejo/.gitkeep
config/runner/.runner
config/sonarqube/*
!config/sonarqube/.gitkeep
config/rancher/*
!config/rancher/.gitkeep
!config/rancher/entrypoint.sh

